body {

}

.flex-fill {
    flex: 1;
}

.fit-image-10 {
    object-fit: cover;
    object-position: 0% 10%;
}

.fit-image-50 {
    object-fit: cover;
    object-position: 0% 50%;
}

.bg-dark-opacity-20 {
    background-color: rgba(20.4, 22.7, 25.1, 0.5)
}

.h-80 {
    height: 85%;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.center-box {
    text-align:center;
}

/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
    position:relative;
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    display: inline-block;
    margin: 8px;
    /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
    background-color: #bbb;
    color: black;
}
.flip-box-back h2 {
    margin-top:30px;

}

/* Style the back side */
.flip-box-back {

    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}

.footer-absolute-bottom {
    position:absolute;
    left:0;
    right:0;
    bottom:-100;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    
}

.footer-fixed-bottom{
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    
}

.boxes {
    margin-top:120px;
    height:500px;
}

.icon {
    font-size:4.5em;
}

.icon-box-container {

    height: 65px;
    display: inline-flex;
    
}
.icon-box {

    width: 60px;
    height: 60px;
    font-size:40px;
  }

  .icon-box-text {
    display:inline-flex;
    width:100%;
    padding-left:20px;
    font-size:40px;
    align-items: center;
  justify-content: center;
    
}

.icon-box-text-input {
    display:inline-flex;
    width:100%;
    font-size:25px;
    align-items: center;
  justify-content: center;

    
}

.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 5px;
    height:65px;
  }
  
  .icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
    font-size:40px;
    height:65px;
    width:65px;
  }
  
  .dodgerblue {
      background: dodgerblue;
  }
  .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
  }
  
  .input-field:focus {
    border: 2px solid dodgerblue;
  }

  .btnt {
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .btnt:hover {
    opacity: 1;
  }

  .nav-item {
      margin-top:5px;
      margin-bottom:0px;
      padding-bottom:-1px;

  }

  .nav-link { 
    color: #f8f9fa;
  }

  .nav-link:hover {
    color: #f8f9fa;
  }

  .parallax {
    background-image: url('../img/photos/32392179_2125622954120053_541680047010873344_o.jpg');
    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .transparent {
      background-color: rgba(0,0,0,0.2);
  }

  .navbar {
    border-top : 5px solid #207cb9;
}

.cornerBox {
    width:330px;
    height:160px;
    margin-right : 4%;
    border-top : 7px solid #207cb9;
    border-bottom : 7px solid #207cb9;
}

.boxTitle {
    color: #207cb9;
    font-size: 4em;
    margin-top:-15px;
    padding-top:0px;
}

.boxDesc {
    color: #207cb9;
    font-size:2.4em;
    margin-top:15px;
}

.nav-tabs .nav-link.active {
    background-color : #f8f9fa !important;
    border-color : #dee2e6 #dee2e6 #f8f9fa !important;
}


.parallax1 {
    background-image: url('https://cdn.citylab.com/static/a/citylab_connections/recycling/images/opener.jpg');
    /* Set a specific height */

    min-height: 500px; 
    /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  border-bottom: 5px solid rgb(28,126,191, 1);
  margin-bottom: 5px;

  }

.caption {
  position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #f8f9fa;
    font-size : 3em;

}

.caption .border { 
    position:relative;
    padding: 30px 20px;
    background-color: rgb(28,126,191, 0.85);
    
}

.box {
    padding-left:30px;
    padding-right:30px;
    border-bottom : 5px solid #207cb9;

    
}

.box .fix {
    margin-top:-150px;
}

@media (max-width: 991.98px) { 
    .box {
        border-top:0px;
    }

    .box .fix {
        margin-top:10px;
    }
 }

.box .title {
    font-size:2.4em;
    height:100px;
    color: #f8f9fa;
    background-color: rgb(28,126,191, 0.85);
    height:75px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top:7px;
}

.box .description {
    border-top: 5px solid #207cb9;
    padding-top:10px;
    height:200px;
}

.box .title-image {
    width:604px;
    height:206px;
}

